<html>
    <head>
        <title> Ninja Gold </title>
    </head>
    <body>
        <h3> Your Gold: {{request.session.goldcoins}} </h3>

        <form action = '/getcoins', method = "post">
        {% csrf_token %}
            <h1>Farm:<h1><input type = "hidden" name = "action" value="Farm">
            <h4>    (earns 10-20 gold coins)  </h4>
            <input type = "submit" value = "Find Gold!">
        </form>
        <form action = '/getcoins', method = "post">
        {% csrf_token %}
            <h1>Cave:<h1><input type = "hidden" name = "action" value="Cave">
            <h4>    (earns 5-10 gold coins)  </h4>
            <input type = "submit" value = "Find Gold!">
        </form>
        <form action = '/getcoins', method = "post">
        {% csrf_token %}
            <h1>House:<h1><input type = "hidden" name = "action" value="House">
            <h4>    (earns 2-5 gold coins)  </h4>
            <input type = "submit" value = "Find Gold!">
        </form>
        <form action = '/getcoins', method = "post">
        {% csrf_token %}
            <h1>Casino:<h1><input type = "hidden" name = "action" value="Casino">
            <h4>    (earns/takes 0-50 gold coins)  </h4>
            <input type = "submit" value = "Find Gold!">
        </form>
    
        Activities:<br> <br>
            {% for info in request.session.activities_log %}
                <p> {{info}} </p>
            {% endfor %}
        <form action = '/reset' method = 'post'>
            {% csrf_token %}
            <input type = 'submit' value = 'reset'>
        </form>
     
    </body>
</html>