<html>
    <head>
       <title>Registration Form</title>
        
   
    </head>
    <body>
      <h1>Registration Form</h1>
        {% for user in users %}
            {{user.first_name}}, {{user.last_name}}, {{user.emailid}}, {{user.password}}
        {% endfor %}

        <form action="/result" method ="post">
        {% csrf_token %}
        <p>
        <label for="first_name">FirstName:</label>

        <input type="text" id ="firstname" name="first_name">
        </p>
        <p>
        <label for="last_name">LastName:</label>
        <input type="text" id ="lastname" name="last_name">

        </p>
                <p>
        <label for="emailid">Email Id:</label>
        <input type="text" id ="emailid" name="emailid">

        </p><p>
        <label for="password">PASSWORD:</label>
        <input type="password" id ="password" name="password">
        </p><p>

        <input  type="submit" value="Register">
        </p>
        </form>
       <form action = '/loginpage' method = 'get'>
       {% csrf_token %}
            <input type = 'submit' name = "submit" value = 'Login'>
        </form>
    </body>
</html>
