<html>
    <head>
       <title>Wall Page</title>
    
    </head>
    <body>
        <h1> Welcome {{name}} </h1>
        {{id}}

        {% for blogs in blog %}
            {{blogs.message}},{{blogs.user1.id}},{{blogs.created_at}},{{blogs.updated_at}}
        {% endfor %}
        <form action="/wall" method ="post">
                {% csrf_token %}
            <p>
            <label for="">Title</label>
            <input type="text"  name="title">
            </p><p>
            <textarea name = "messages" rows = "8" cols = "40"></textarea>
            </p><p>
            <input  type="submit" value="Enter Post">
            </p>
        </form>

    </body>
</html>